.benefits__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  counter-reset: benefits;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 36px;
    background-image: url("../../img/advantages-decor.svg");
    background-repeat: no-repeat;
    background-size: 100% 36px;
  }
}

.benefits__item {
  width: 100%;
  background-color: #f2f2f2;

  &--large {
    background-color: $bg-color;
  }

  &:first-child {
    padding-top: 36px;
  }
}

.benefits__caption {
  text-align: center;

  &--large {
    color: #ffffff;
  }

  &::after {
    display: block;
    counter-increment: benefits;
    content: "– №" counter(benefits) " –";
    font-weight: normal;
    font-size: $main-font-size;
  }
}

.benefits__desc {
  text-align: center;

  &--large {
    color: #ffffff;
  }
}

.benefits__picture {
  height: 260px;
  position: relative;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .benefits__list {
    &::before {
      display: none;
    }
  }

  .benefits__item {
    width: calc(100% / 3);

    &--large {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    &:first-child {
      padding-top: 0;
    }
  }

  .benefits__picture {
    width: calc(100% * 2 / 3);
    height: 256px;

    &--bridge {
      order: -1;
    }
  }

  .benefits__container {
    width: 100%;

    &--large {
      width: calc(100% / 3);
    }
  }

  .benefits__sublist {
    width: 100%;
  }
}
