.features {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 14px 40px 41px 70px;
}

.features__caption {
  font-size: $lg-font-size;
  line-height: 26px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: -45px;
    top: -8px;
    width: 40px;
    height: 40px;
  }

  &--hotel::before {
    background-image: url("../../img/icon-house.svg");
  }

  &--souvenirs::before {
    background-image: url("../../img/icon-gift.svg");
  }

  &--food::before {
    background-image: url("../../img/icon-burger.svg");
  }
}

.features__desc {
  color: #333333;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .features {
    padding: 60px 45px;
    flex-direction: row;
    justify-content: space-around;
  }

  .features__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .features__caption {
    font-size: 21px;

    &::before {
      position: static;
      margin: 0 auto;
      width: 77px;
      height: 77px;
    }
  }
}
