.footer {
  text-align: center;
  padding-top: 30px;
}

.footer__hashtag-link {
  font-size: $lg-font-size;
  line-height: 26px;
  text-transform: uppercase;
}

.footer__social-list {
  margin-top: 40px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 25px;

  & * {
    margin: 0 5px;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 36px 0;
  }

  .footer__social-list {
    margin-top: 0;
  }

  .footer__copyright {
    margin: 0;
  }
}
