.form__fieldset {
  border: none;
  padding: 0 20px;
}

.form__legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.form__inputs-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  &--contact {
    flex-wrap: wrap;
  }
}

.form__label {
  margin-right: 14px;
  position: relative;
  margin-left: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    display: block;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
  }

  &--radio {
    &::before {
      border: 15px solid #f2f2f2;
      border-radius: 50%;
    }
  }
}

.form__input {
  display: block;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
  padding: 16px 0 16px 22px;
  width: 100%;

  &::placeholder {
    color: inherit;
    font-weight: 700;
  }

  &--textarea {
    resize: none;
    box-sizing: border-box;
  }

  &--radio:checked ~ .form__label::before {
    background-color: #333333;
  }

  &--checkbox:checked ~ .form__label::before {
    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
