.form__fieldset {
  border: none;
  padding: 0 20px;
}

.form__legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.form__inputs-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  &--contact {
    flex-wrap: wrap;
  }
}

.form__label {
  margin-right: 14px;
}

.form__input {
  display: block;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
  padding: 16px 0 16px 22px;
  width: 100%;

  &::placeholder {
    color: inherit;
  }
}
