.search {
  text-align: center;
  padding: 33px 20px 50px 20px;
}

.search__link {
  margin: 0 auto;
  display: block;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  background-color: #81b3d2;
  padding: 16px;
}
